
<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>
<body>

<%- include('partials/nav') %>
 

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row no-gutters justify-content-center">
          <div class="col-md-12">
            <div class="wrapper">
              <div class="row g-0">
                <!-- <div class="col-lg-6 order-lg-first"></div> -->

                <div class="col-lg-6 order-lg-last">

                  <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3>Register</h3>
                    <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                    
                    <form id="contactForm" name="contactForm" class="contactForm">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <input type="text" class="form-control" name="FirstName" id="name" placeholder="FirstName">
                          </div>
                        </div>
                        <div class="col-lg-6"> 
                          <div class="form-group">
                            <input type="text" class="form-control" name="LastName" id="lastname" placeholder="LastName">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="email" class="form-control" name="Email" id="subject" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <input type="password" class="form-control" name="Password" id="subject" placeholder="Password">
                            </div>
                          </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary">
                            <div class="submitting"></div>
                          </div>
                        </div>
                        <p>Don't have an account <a href="auth/login">Login</a></p>

                      </div>
                    </form>
                    <div class="w-100 social-media mt-5">
                      <h3>Follow us here</h3>
                      <p>
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                        <a href="#">Dribbble</a>
                      </p>
                    </div>
                  </div>
                </div>


                
                <div class="col-lg-6 d-flex align-items-stretch" style="background-image: url('/images/bg_1.jpg')">
                  <!-- <div id="m" ></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="ftco-intro py-5 bg-primary">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-10">
            <div class="row g-lg-5">
              <div class="col-md-7 text-lg-right">
                <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
                <p>Far far away, behind the word mountains</p>
              </div>
              <div class="col-md-5 border-left d-flex align-items-center">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>


<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script> -->
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8ff5186f3f387765","version":"2024.10.5","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}' crossorigin="anonymous"></script> -->
</body>

</html>